html header {
    
}
body {
    
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-color: rgb(0, 0, 0) !important;
}
p {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
h1 {

    text-shadow: 3px 3px 3px goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    font-size: 150px !important;
    position: absolute;
    top: 250px;
    left: 600px !important;
    color: white;
    text-align: center;
}
h2 {

    text-shadow: 3px 3px 3px gray;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    font-size: 50px !important;
    color:gold;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    color: goldenrod;
}
h4 {
    font-size: 1vw !important;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    color:gold;
}
li {
    color: goldenrod;
}
div {
    text-align: center;
}
button {

    color: rgb(255, 255, 255);
    font-weight:normal;
    font-size: 25px !important;
    background-color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    
}
hr{
    color: red !important;
}
div.imagemenugauche{
    
    
    float: left;
    width: 500px;
    height: 350px;
    margin-left: 50px;
    
}
div.imagemenudroite{

   float: right;
   width: 500px;
   height: 350px; 
   margin-right: 50px;
}
div.Logo{

    box-shadow: 3px 3px 3px gray;
    position: relative;
    margin-top: 30px !important;
    margin-left: 100px;
    float:left;

}
div.button{

    box-shadow: 3px 3px 3px goldenrod !important;
    position: relative;
    float: right !important;
    margin-top: 60px;
    margin-right: 80px;

}
div.imageaccueil{
    
    position:relative;
    background: url(images/hamburger-4095155_1920.jpg);
    background-position: center;
    overflow: hidden;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}
div.listburgers{

    position: relative;
    float: initial;

}
    
.h1accueil{font-size:8vw!important}
