html header {
    
}
body {
    
    height:auto;
    width: auto;
    background-size: cover;
    background-color: black !important;
}
p {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    font-size: 150px !important;
    position: absolute;
    top: 300px;
    left: 100px;
    color: darkgoldenrod;
    text-align: center;
}
h2 {

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    font-size: 50px !important;
    color: goldenrod;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    color: goldenrod;
}
h4 {
    font-size: 1vw !important;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder !important;
    color:goldenrod;
}
li {
    color: goldenrod;
}
div {
    text-align: center;
}
button {
     
    font-weight:normal;
    font-size: 25px !important;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    
}
hr{
    color: red !important;
}
div.imagemenugauche{
    
    float: left;
    
}
div.imagemenudroite{

   float: right;
    
}
div.Logo{

    margin-bottom: 30px !important;
    margin-left: 100px;

}
div.button{
    
    margin-top: 50px;
    margin-right: 50px;

}
div.imageaccueil{

    margin-top: -10px;
    margin: auto;
    
}
    

